li {
  list-style: none;
  transition: all 0.4s;
}

a {
  text-decoration: none;
  color: black;
}

.main-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 15vh;
  bottom: 0;
  z-index: 100;
  width: 100vw;
}

.left_logo {
  position: fixed;
  display: flex;
  height: 5em;
  width: 5em;
  left: 8em;
  background-image: url("mtly_ph.svg");
  bottom: 2em;
}

.main-nav .ul_second {
  position: fixed;
  display: flex;
  right: 4em;
  bottom: 4em;
}

.main-nav .ul_second li {
  margin-left: 2em;
}

li:hover {
  transform: scale(1.1);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 599px) {
  body {
    overflow-x: hidden;
  }

  .main-nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 10vh;
    bottom: 0;
    z-index: 100;
    width: 100vw;
  }

  .left_logo {
    display: none;
  }

  .main-nav .ul_second {
    right: 0em;
    bottom: 0em;
  }

  .ul_second {
    margin: 0;
    position: fixed;
    height: 100vh;
    padding: 2vh;
    background-color: rgba(182, 198, 246, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .ul_second li a {
    opacity: 0;
  }

  .burger {
    margin-left: 2rem;
    display: block;
    cursor: pointer;
    z-index: 2000;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.inside {
  width: 100vw;
  display: flex;
  padding: 4em;
  flex-direction: column;
  height: 70vh;
  top: 0;
}
.inside .top-container {
  height: 40vh;
}
.inside .top-container .main-title {
  display: flex;
  width: 100%;
  font-size: 12vw;
  line-height: 0.9em;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
@media (max-width: 599px) {
  .inside .top-container .main-title {
    font-size: 16vw;
    line-height: 0.9em;
    margin-bottom: 0.5rem;
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: black;
  }
}
.inside .sub-container-one {
  height: 30vh;
  margin-bottom: 1rem;
}
.inside .sub-container-one #p-abilities {
  display: flex;
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
  line-height: 0.9em;
}
@media (max-width: 599px) {
  .inside .sub-container-one #p-abilities {
    font-size: 5vw;
    line-height: 0.9em;
    font-weight: 900;
    margin-bottom: 0.5em;
  }
}
.inside .sub-container-two {
  height: 20vh;
  margin-bottom: 1rem;
  line-height: 2em;
}
@media (max-width: 599px) {
  .inside .sub-container-two p {
    line-height: 0.9em;
  }
}
.inside .sub-container-two a {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3vw;
}
@media (max-width: 599px) {
  .inside .sub-container-two a {
    font-size: 5vw;
    font-weight: 900;
  }
}
.inside .sub-container-two #l-1 {
  color: #decee4;
}
.inside .sub-container-two :hover a {
  color: #c9eccb;
}
.inside .sub-container-two #l-2 {
  color: #c9eccb;
}
.inside .sub-container-two #l-3 {
  color: #e0cd96;
}
.inside .sub-container-two #l-4 {
  color: #ccd5f0;
}
.inside .sub-container-two #l-5 {
  color: #f0dfdc;
}
.inside .sub-container-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 30vh;
  width: 100%;
}
@media (max-width: 599px) {
  .inside .sub-container-three {
    flex-direction: column;
  }
}
.inside .sub-container-three .cercle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 30vw;
  height: 10vh;
  text-transform: uppercase;
  margin: 0;
}
.inside .sub-container-three .cercle h1 {
  font-size: 2vw;
  font-weight: 900;
}
@media (max-width: 599px) {
  .inside .sub-container-three .cercle h1 {
    font-size: 7vw;
  }
}
.inside .sub-container-three .cercle h1 .blinking {
  font-weight: 900;
  animation: blinkingText 1s infinite;
  -webkit-text-stroke-width: 1.7px;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #000;
  }
}
@media (max-width: 599px) {
  .inside .sub-container-three .cercle {
    width: 100%;
    height: 8vh;
  }
}
.inside .sub-container-three .tech-logo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: 2rem;
  width: 50vw;
  height: 20vh;
}
.inside .sub-container-three .tech-logo img {
  display: flex;
  transform: scale(0);
}
.inside .sub-container-three .tech-logo #img1 {
  width: calc(100 * var(--res));
}
.inside .sub-container-three .tech-logo #img2 {
  width: calc(100 * var(--res));
}
.inside .sub-container-three .tech-logo #img3 {
  width: calc(100 * var(--res));
}
.inside .sub-container-three .tech-logo #img4 {
  width: calc(100 * var(--res));
}
.inside .sub-container-three .tech-logo #img5 {
  width: calc(100 * var(--res));
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --res: calc(0.10 * 1vmin);
}

body {
  background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px, rgba(0, 0, 0, 0.05) 13px, rgba(0, 0, 0, 0.03) 24px, transparent 24px, transparent 62px, rgba(0, 0, 0, 0.03) 62px, rgba(0, 0, 0, 0.03) 96px), repeating-radial-gradient(circle at center center, white 0px, white 14px, white 14px, white 18px, white 18px, white 28px, white 28px, white 32px);
  background-size: 21px 21px;
  height: 100vh;
  overflow-x: hidden;
}

html, body, .main-container, .container {
  scroll-behavior: smooth;
}

.main-container {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.container {
  width: 500vw;
  display: flex;
  flex-direction: row;
}

.container .one {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 599px) {
  .inside {
    padding: 2rem;
    height: 90vh;
  }

  .main-title {
    font-size: 22vw;
  }
}

/*# sourceMappingURL=y.css.map */
