@import "mixins";

.inside_2 {
  @include work-cont-desktop;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include for-phone-only {
    padding: 3em;
    height: 100%;
  }

  #about {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    text-align: justify;
    display: flex;
    font-size: 1.5em;
    width: 100%;

    @include for-phone-only {
      font-size: 3em;
      width: 78%;
    }
  }
}
