@import "mixins";

.inside_2 {
  @include work-cont-desktop;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .about {
    text-align: center;
    display: flex;
    font-size: 4rem;
    width: 100%;
  }
}
