.vert {
  display: flex;
  border-left: 5px solid black;
  height: 1em;
  margin-left: 1em;
  margin-right: 1em;
  @include for-phone-only {
    border-left: 2.5px solid black;
    height: 1.8em;
    margin: 0;
  }
}
.p-abilities {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  @include for-phone-only {
    width: 100%;
  }
}
.p-abilities a {
  display: flex;
  position: relative;
  transition: all 0.2s;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
  line-height: 1em;
  @include for-phone-only {
    font-size: 3em;
    -webkit-text-stroke-width: 0;
  }
  .p-abilities a::before {
    z-index: -1;
  }
}

.bg {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s ease-out;
}
.bg-show .bg {
  z-index: 2;
  opacity: 1;
}
.bg-show a:hover {
  z-index: 2;
  border-bottom-color: transparent;
}

.bg-show .p-abilities a:hover::before {
  transition: transform 0.2s 0.1s ease-out;
}
