@import 'mixins';

.inside {
    @include work-cont-desktop;
    flex-direction: column;
    height: 90vh;
    top: 0;
   
    .top-container{
        height:40vh;

        .main-title{
            display: flex;
            width: 100%;
            font-size: 12vw;
            line-height:.9em;
            -webkit-text-stroke-width: 3px;
                -webkit-text-stroke-color: black;
            @include for-phone-only{
                font-size: 16vw;
                line-height:.9em;
                margin-bottom: .5rem;
                -webkit-text-stroke-width: 1.7px;
                -webkit-text-stroke-color: black;
            } 
        }
    }

    .sub-container-one{
        height:30vh;
        margin-bottom: 1rem;

        #p-abilities {
            display: flex;
            font-size: 3vw;
            font-weight: 900;
            text-transform: uppercase;
            text-align: start;
            line-height:.9em;
            @include for-phone-only{
                font-size: 5vw;
                line-height:.9em;
                font-weight: 900;
                margin-bottom: .5em;
            } 
        }
    }

    .sub-container-two{
        height:20vh;
        margin-bottom: 1rem;
        line-height:2em;
        p{
            @include for-phone-only{
                line-height:.9em;}}

        a {
         
            text-transform: uppercase;
            font-weight: 900;
            font-size: 3vw;
            @include for-phone-only{
                font-size: 5vw;
                
                font-weight: 900;
            } 
           
        }

        #l-1{
            color: rgb(222, 206, 228);   
        }
        :hover a{
            color:rgb(201, 236, 203)
        }
        #l-2{
            color:rgb(201, 236, 203);   
        }
        #l-3{
            color: rgb(224, 205, 150);   
        }
        #l-4{
            color:  rgb(204, 213, 240);   
        }
        #l-5{
            color:  rgb(240, 223, 220);   
        }
       
    }

    .sub-container-three {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height:100%;
        width: 100%;
        @include for-phone-only{
            flex-direction: column;
        } 

        .trigger_1 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            color:black;
            width: 50% ;
            height: 10vh;
            text-transform: uppercase;
            margin:0;
            -webkit-text-stroke-width: 1.7px;
                -webkit-text-stroke-color: black;
           
            h1{
                font-size: 4vw;
                font-weight: 900;

                @include for-phone-only{
                    font-size: 7vw;
                }
                .blinking{
                    font-weight: 900;
                    animation:blinkingText 1s infinite;
                    -webkit-text-stroke-width: 1.7px;
                }
                @keyframes blinkingText{
                    0%{		color: #fff;	}
                    50%{	color: #000;	}
                    100%{	color: #fff;	}
                }
            }

            @include for-phone-only{
                width: 100% ;
                height: 8vh;
            } 
        }
        .trigger_2 {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            color:white;
            width: 30vw ;
            height: 10vh;
            text-transform: uppercase;
            margin:0;
           
            h1{
                font-size: 2vw;
                font-weight: 900;

                @include for-phone-only{
                    font-size: 7vw;
                }
                .blinking{
                    font-weight: 900;
                    animation:blinkingText 1s infinite;
                    -webkit-text-stroke-width: 1.7px;
                }
                @keyframes blinkingText{
                    0%{		color: #000;	}
                    50%{	color: #fff;	}
                    100%{	color: #000;	}
                }
            }

            @include for-phone-only{
                width: 100% ;
                height: 8vh;
            } 
        }
        .tech-logo-1{
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            width:50%;

            img {
                display: flex;
                transform:  scale(0); 
            }

            #img1{
                width: calc(120 * var(--res));
                height: auto;
            }
            
            #img2{
                width: calc(120 * var(--res));
            }
            
            #img3{
                width: calc(120 * var(--res));
            }
            
            #img4{
                width: calc(120 * var(--res));
            }
            
            #img5{
                width: calc(120 * var(--res));
            }
        }

        .tech-logo-2{
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            margin-left: 2rem;
            width:50vw;
            height: 20vh;

            img {
                display: flex;
                transform:  scale(0); 
            }

            #img6{
                width: calc(100 * var(--res));
            }
            
            #img7{
                width: calc(100 * var(--res));
            }
            
            #img8{
                width: calc(100 * var(--res));
            }
            
            #img9{
                width: calc(100 * var(--res));
            }
            
            #img10{
                width: calc(100 * var(--res));
            }
        }
    }
}
 