@import "mixins";

.inside_4 {
  @include work-cont-desktop;
  flex-direction: column;
  height: 100%;
  @include for-phone-only {
    padding-right: 4em;
    padding-left: 4em;
    height: 100%;
  }
  .top-container-2 {
    height: 20%;
    margin-bottom: 2em;
    @include for-phone-only {
      height: 100px;
    }
    .main-title-2 {
      display: flex;
      width: 100%;
      font-size: 6em;
      line-height: 0.9em;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: black;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      @include for-phone-only {
        font-size: 60px;
        line-height: 0.9em;
        margin-bottom: 2em;
        -webkit-text-stroke-width: 1.7px;
        -webkit-text-stroke-color: black;
      }
    }
  }

  .sub-container-one-2 {
    height: 25%;
    margin-bottom: 2em;
    @include for-big-desktop-up {
      margin-bottom: 1em;
    }
    @include for-phone-only {
      height: 100px;
    }

    .p-abilities-2 {
      display: flex;
      font-weight: 900;
      text-transform: uppercase;
      text-align: start;
      line-height: 1em;
      @include for-phone-only {
        font-size: 20px;
        line-height: 20px;
        font-weight: 900;
      }
    }
  }

  .sub-container-two-2 {
    height: 20%;
    margin-bottom: 2em;
    @include for-phone-only {
      height: 100px;
      margin-bottom: 1em;
    }
    p {
      line-height: 1.3em;
      @include for-phone-only {
        line-height: 15px;
      }
    }

    a {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.5em;
      @include for-phone-only {
        font-size: 20px;
        font-weight: 900;
      }
    }

    #l-1 {
      color: rgb(222, 206, 228);
    }
    :hover a {
      color: rgb(201, 236, 203);
    }
    #l-2 {
      color: rgb(201, 236, 203);
    }
    #l-3 {
      color: rgb(224, 205, 150);
    }
    #l-4 {
      color: rgb(204, 213, 240);
    }
    #l-5 {
      color: rgb(240, 223, 220);
    }
  }

  .sub-container-three-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 6em;
    @include for-desktop-up {
      height: 25%;
    }
    @include for-phone-only {
      flex-direction: column;
      height: 170px;
    }

    .trigger_2 {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      color: black;
      text-transform: uppercase;
      margin: 0;
      -webkit-text-stroke-width: 1.7px;
      -webkit-text-stroke-color: black;
      @include for-desktop-up {
        height: 6vh;
      }
      @include for-phone-only {
        width: 100%;
        height: 6vh;
      }
      h1 {
        font-size: 1.5em;
        font-weight: 900;
        @include for-phone-only {
          font-size: 20px;
          font-weight: 900;
        }
        #hover_icon {
          height: 3vw;
          @include for-phone-only {
            height: 4vw;
          }
        }
      }
    }

    .tech-logo-2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 5em;
      width: 90vmin;
      @include for-desktop {
        width: 100%;
      }
      @include for-phone-only {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      img {
        display: flex;
        transform: scale(0);

        @include for-phone-only {
          // transform:  scale(1);
        }
      }

      #img6 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(180 * var(--res));
          height: calc(180 * var(--res));
        }
      }

      #img7 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(180 * var(--res));
          height: calc(180 * var(--res));
        }
      }

      #img8 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(180 * var(--res));
          height: calc(180 * var(--res));
        }
      }

      #img9 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(180 * var(--res));
          height: calc(180 * var(--res));
        }
      }

      #img10 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(180 * var(--res));
          height: calc(180 * var(--res));
        }
      }
    }
  }
}
