@import "mixins";

.inside_3 {
  @include work-cont-desktop;
  flex-direction: column;
  height: 100%;
  @include for-phone-only {
    padding: 2rem;
    height: 90%;
  }

  .top-container {
    height: 20%;
    margin-bottom: 1rem;
    @include for-big-desktop-up {
      margin-bottom: 3rem;
    }
    .main-title {
      display: flex;
      width: 100%;
      font-size: 12vw;
      line-height: 0.9em;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: black;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      @include for-phone-only {
        font-size: 16vw;
        line-height: 0.9em;
        margin-bottom: 0.5rem;
        -webkit-text-stroke-width: 1.7px;
        -webkit-text-stroke-color: black;
      }
    }
  }

  .sub-container-one {
    height: 30vh;
    margin-bottom: 1rem;
    @include for-big-desktop-up {
      margin-bottom: 3rem;
    }

    #p-abilities {
      display: flex;
      font-size: 3vw;
      font-weight: 900;
      text-transform: uppercase;
      text-align: start;
      line-height: 1em;
      @include for-phone-only {
        font-size: 5vw;
        line-height: 0.9em;
        font-weight: 900;
      }
    }
  }

  .sub-container-two {
    height: 15vh;
    margin-bottom: 1rem;
    line-height: 2em;
    @include for-big-desktop-up {
      margin-bottom: 2rem;
    }
    p {
      @include for-phone-only {
        line-height: 0.9em;
      }
      @include for-big-desktop-up {
        line-height: 3rem;
      }
    }

    a {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 3vw;
      @include for-phone-only {
        font-size: 5vw;
        font-weight: 900;
      }
    }

    #l-1 {
      color: rgb(222, 206, 228);
    }
    :hover a {
      color: rgb(201, 236, 203);
    }
    #l-2 {
      color: rgb(201, 236, 203);
    }
    #l-3 {
      color: rgb(224, 205, 150);
    }
    #l-4 {
      color: rgb(204, 213, 240);
    }
    #l-5 {
      color: rgb(240, 223, 220);
    }
  }

  .sub-container-three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    @include for-phone-only {
      flex-direction: column;
    }

    .trigger_1 {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      color: black;
      width: 100%;
      height: 10vh;
      text-transform: uppercase;
      margin: 0;
      -webkit-text-stroke-width: 1.7px;
      -webkit-text-stroke-color: black;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      @include for-phone-only {
        width: 100%;
        height: 6vh;
      }
      h1 {
        font-size: 4vw;
        font-weight: 900;
        #hover_icon {
          height: 3vw;
          @include for-phone-only {
            font-size: 4vw;
          }
        }

        @include for-phone-only {
          height: 7vw;
        }
      }
    }

    .tech-logo-1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 90vmin;
      @include for-phone-only {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      img {
        display: flex;
        transform: scale(0);

        @include for-phone-only {
          // transform:  scale(1);
        }
      }

      #img1 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(220 * var(--res));
          height: calc(220 * var(--res));
        }
      }

      #img2 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(220 * var(--res));
          height: calc(220 * var(--res));
        }
      }

      #img3 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(220 * var(--res));
          height: calc(220 * var(--res));
        }
      }

      #img4 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(220 * var(--res));
          height: calc(220 * var(--res));
        }
      }

      #img5 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(220 * var(--res));
          height: calc(220 * var(--res));
        }
      }

      #img6 {
        width: calc(120 * var(--res));
        height: calc(120 * var(--res));
        @include for-phone-only {
          width: calc(220 * var(--res));
          height: calc(220 * var(--res));
        }
      }
    }
  }
}
